
.vs/Huffman_assignment/v16/ipch/AutoPCH/a5500225a1f2bd3a/MAIN.ipch
.vs/Huffman_assignment/v16/ipch/AutoPCH/56039b7f7b3ff4e4/MAIN.ipch
.vs/Huffman_assignment/v16/ipch/AutoPCH/3bbc3320e80b8875/MAIN.ipch
.vs/Huffman_assignment/v16/ipch/AutoPCH/34c854416f61778f/MAIN.ipch
.vs/Huffman_assignment/v16/Browse.VC.db
.vs/Huffman_assignment/v16/.suo
Debug/Huffman_.85dc9d76.tlog/CL.command.1.tlog
Debug/Huffman_.85dc9d76.tlog/CL.read.1.tlog
Debug/Huffman_.85dc9d76.tlog/CL.write.1.tlog
Debug/Huffman_.85dc9d76.tlog/Huffman_assignment.lastbuildstate
Debug/Huffman_.85dc9d76.tlog/link.command.1.tlog
Debug/Huffman_.85dc9d76.tlog/link.read.1.tlog
Debug/Huffman_.85dc9d76.tlog/link.write.1.tlog
Debug/Huffman_assignment.exe
Debug/Huffman_assignment.exe.recipe
Debug/Huffman_assignment.ilk
Debug/Huffman_assignment.log
Debug/Huffman_assignment.pdb
Debug/Huffman_assignment.vcxproj.FileListAbsolute.txt
Debug/main.obj
Debug/vc142.idb
Debug/vc142.pdb
x64/Debug/Huffman_.85dc9d76.tlog/CL.command.1.tlog
x64/Debug/Huffman_.85dc9d76.tlog/CL.read.1.tlog
x64/Debug/Huffman_.85dc9d76.tlog/CL.write.1.tlog
x64/Debug/Huffman_.85dc9d76.tlog/Huffman_assignment.lastbuildstate
x64/Debug/Huffman_.85dc9d76.tlog/link.command.1.tlog
x64/Debug/Huffman_.85dc9d76.tlog/link.read.1.tlog
x64/Debug/Huffman_.85dc9d76.tlog/link.write.1.tlog
x64/Debug/Huffman_assignment.Build.CppClean.log
x64/Debug/Huffman_assignment.exe
x64/Debug/Huffman_assignment.exe.recipe
x64/Debug/Huffman_assignment.ilk
x64/Debug/Huffman_assignment.log
x64/Debug/Huffman_assignment.pdb
x64/Debug/Huffman_assignment.vcxproj.FileListAbsolute.txt
x64/Debug/main.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Release/Huffman_.85dc9d76.tlog/CL.command.1.tlog
x64/Release/Huffman_.85dc9d76.tlog/CL.read.1.tlog
x64/Release/Huffman_.85dc9d76.tlog/CL.write.1.tlog
x64/Release/Huffman_.85dc9d76.tlog/Huffman_assignment.lastbuildstate
x64/Release/Huffman_.85dc9d76.tlog/Huffman_assignment.write.1u.tlog
x64/Release/Huffman_.85dc9d76.tlog/link.command.1.tlog
x64/Release/Huffman_.85dc9d76.tlog/link.read.1.tlog
x64/Release/Huffman_.85dc9d76.tlog/link.write.1.tlog
x64/Release/Huffman_assignment.Build.CppClean.log
x64/Release/Huffman_assignment.exe
x64/Release/Huffman_assignment.exe.recipe
x64/Release/Huffman_assignment.iobj
x64/Release/Huffman_assignment.ipdb
x64/Release/Huffman_assignment.log
x64/Release/Huffman_assignment.pdb
x64/Release/Huffman_assignment.vcxproj.FileListAbsolute.txt
x64/Release/main.obj
x64/Release/vc142.pdb
.vs/Huffman_assignment/v16/ipch/AutoPCH/e7882fee16bfa341/MAIN.ipch
.vs/Huffman_assignment/v16/ipch/AutoPCH/f985681409ea6fa/MAIN.ipch
Debug/Huffman_.85dc9d76.tlog/link-cvtres.read.1.tlog
Debug/Huffman_.85dc9d76.tlog/link-cvtres.write.1.tlog
Debug/Huffman_.85dc9d76.tlog/link-rc.read.1.tlog
Debug/Huffman_.85dc9d76.tlog/link-rc.write.1.tlog
Debug/Huffman_.85dc9d76.tlog/unsuccessfulbuild
.vs/Huffman_assignment/v16/ipch/AutoPCH/7ee586d7970b23ff/MAIN.ipch
x64/Release/Huffman_Test.exe
x64/Release/Huffman_Test.pdb
.vs/Huffman_assignment/v16/ipch/AutoPCH/eaf6330020be4fb4/DECOMPRESSOR.ipch
.vs/Huffman_assignment/v16/ipch/AutoPCH/6ac738bc94d3c2cb/COMPRESSOR.ipch
.vs/Huffman_assignment/v16/ipch/AutoPCH/668521296d221bec/HUFFMAN.ipch
.vs/Huffman_assignment/v16/ipch/AutoPCH/57e2fbc811c73f6/TEST.ipch
.vs/Huffman_assignment/v16/ipch/AutoPCH/368c9dcefc64b27b/HUFFMAN.ipch
.vs/Huffman_assignment/v16/ipch/AutoPCH/12ab7ee5f1beffd3/TEST.ipch
.vs/Huffman_assignment/v16/Browse.VC.opendb
.vs/Huffman_assignment/v16/Browse.VC.db-wal
.vs/Huffman_assignment/v16/Browse.VC.db-shm
